.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: var(--header);
    padding: 18px;
}


.nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 10px;
}


.izquierda h1{
    color: var(--blanco);
    margin-bottom: 20px;
}

.nav a{
    color: var(--blanco);
    margin-bottom: 10px;
}


.nav .perfil{
    display: flex;
    align-items: center;
    gap: 6px;
}
.nav .perfil img{
    width: 30px;
    object-fit: cover;
    border-radius: 100%;
}

@media (min-width: 768px){
    .header{
        flex-direction: row;
    }
    .izquierda h1{
        margin-bottom: 0;
    }
    .nav, .nav a{
        flex-direction: row;
        margin-bottom: 0;
    }
}

.carrito-nav img{
    width: 30px;
    filter: invert(1);

}
