<header class="header">
    <div class="izquierda">
        <a href=""><h1>E-commerce</h1></a>
    </div>
    <div class="derecha">
        <nav class="nav">
            <a href="/">Inicio</a>
            <a href="/productos">Productos</a>
            <a href="">Envios</a>
            <a href="/contact">Contacto</a>
            <div class="perfil">
                <a href="">Perfil</a>
                <a href=""><img src="/img/user.png" alt=""></a>
            </div>
            <a href="">Acerca de</a>
            <div class="carrito-nav"><img src="img/carrito.png" alt=""></div>
        </nav>
    </div>
</header>